

    <!-- header section -->
    <%- include('include/header') -%>

        <div class="main-container">

            <!-- sidebar sectiokn -->
            <%- include('include/sidebar') -%>
          
            <!-- main content -->
            
            <!-- search section -->
            <%- include('include/searchbar')  -%>


                <div class="employee-list-section ">
                    <div class="employee-add-section d-flex align-items-center" >
                        <div class="employee" id="empListSec">
                            <h5>Employees List</h5>
                            <select class="form-select " aria-label="Default select example" id="pageList" onchange="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5"selected>5</option>
                                <option value="8">8</option>
                            </select>
                            <p id="count">of 10</p>
                        </div>
                        <button class="filled-btn" onclick="" id="addEmpBtn">Add Employee</button>
                    </div>
                    <div class="employee-table">
                        <table class="table">
                            <thead id="table-head">
                              <tr>
                                <th scope="col">Sl.No<i class="fa-solid fa-angle-down"></i></th>
                                <th scope="col">Name<i class="fa-solid fa-angle-down"></i></th>
                                <th scope="col">Email<i class="fa-solid fa-angle-down"></i></th>
                                <th scope="col">Phone<i class="fa-solid fa-angle-down"></i></th>
                                <th scope="col">Gender<i class="fa-solid fa-angle-down"></i></th>
                                <th scope="col">DOB<i class="fa-solid fa-angle-down"></i></th>
                                <th scope="col">Country<i class="fa-solid fa-angle-down"></i></th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody id="table_body">
                              <!-- <tr>
                                <td scope="row">#01</td>
                                <td><img src="/images/Rectangle 346.png">Mr. Michael Johnson</td>
                                <td>michaeljohnson@example.com</td>
                                <td>5551234567</td>
                                <td>Male</td>
                                <td>10 December 1985</td>
                                <td>USA</td>
                                <td><div class="dropdown">
                                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      <li><a class="dropdown-item" href="view.html" target="_blank"><i class="fa-regular fa-eye"></i>View Details</a></li>
                                      <li><a class="dropdown-item" href="#" id="editForm"><i class="fa-solid fa-pen"></i>Edit</a></li>
                                      <li><a class="dropdown-item" onclick="openDltMsg()" href="#"><i class="fa-solid fa-trash"></i>Delete</a></li>
                                    </ul>
                                  </div></td>
                              </tr> -->
                            </tbody>
                          </table>
                    </div>
                </div>
                <div class="pagination-btn" id="testpage">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination flex-row justify-content-end">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous" onclick="tableDataShow(1)">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item" onclick="previous()"><a class="page-link" href="#"><i class="fa-solid fa-angle-left"></i></a></li>
                           <!-- <li class="page-item" id="pageNumber"><a class="page-link d-flex gap-2" href="#">1</a></li>
                           <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>  -->
                          <li><div id="pageNumber" class="pagenumber d-flex gap-2">
                            
                          </div></li>
                          <li class="page-item" onclick="next()"><a class="page-link" href="#"><i class="fa-solid fa-angle-right" ></i></a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next" onclick="finalpage()">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
                <div class="copy-links-sec d-flex justify-content-between">
                  <div class="copy-right">
                    <h5>© 2023  All Rights Reserved.<span>Stackup</span></h5>
                  </div>
                  <div class="links d-flex gap-3">
                    <a href="#">Terms of Use</a>
                    <a href="#">Privacy Policy</a>
                  </div>
                </div>
            </div>
        </div>




<!-- second secion add employee details form -->
        <%- include('include/addEmployeeForm') %>

      <div class="overlay" id="overlay" onclick=""></div>
    

    <!-- edit employee form section  -->
    <%- include('include/editform') %>

   
  <!-- deleted msg warning --> 
  <%- include('include/deletealert') %>
  

   
     
     

        <script src="/js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>